// Colors
$primary-color: #0047ab;
$secondary-color: #ffffff;
$accent-color: #ff6f61;

// font
$font-family-base: 'Montserrat', sans-serif; 
$font-size-base: 16px;

// Shadows
$box-shadow-base: 0 2px 10px rgba(0, 0, 0, 0.1);


$breakpoint-mobile: 800px;
// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Grid
$grid-columns: 12;
$gutter-width: 20px;

// Border-radius
$border-radius-base: 8px; 

