.flex-container {
    @include flex-center;
    flex-wrap: wrap; 
    gap: $gutter-width;
    padding: $padding-base;
  }
  
  .flex-item {
    background-color: $secondary-color;
    padding: $padding-base;
    border-radius: $border-radius-base;
    @include box-shadow(3px);
    
    &:hover {
      @include box-shadow(8px);
    }
  }
  